<div class="container">
  <div class="souvenirs-list pt-3">
    <% @souvenirs.order('created_at ASC').each do |souvenir| %>
      <% @souvenir = souvenir %>
      <%= render 'shared/souvenir-card' %>
    <% end %>
  </div>
</div>
