.navbar-lewagon {
  justify-content: space-between;
  background: #1A6FA9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #DDDDDD !important;
}

.fa-camera-retro {
  color: #DDDDDD;
}

.navbar-toggler {
  color: #DDDDDD !important;
  border-color: #DDDDDD !important;
  &:focus {
    outline: none !important;
  }

  .fa-camera-retro {
    font-size: 1.7rem;
  }
}
